@use 'layout.css';

//$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
//	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$text-color: #43383c;
$green: #2d4d42;
$yellow: #e49928;

//display mixin
@mixin dsp($mode: "flex", $dir) {
	display: $mode;
	@if ($mode == "flex") {
		flex-direction: $dir;
	} @else {
		//something here
	}
}
//font size - line height mixin
@mixin default_line($size: 1rem, $lheight: 2rem) {
	font-size: $size;
	line-height: $lheight;
}
//button specific mixin, can probably rework?
@mixin button($color, $txtcolor: $color, $border: none, $background: $color) {
	text-decoration: none;

	// Display
	display: inline-flex;
	align-items: center;
	justify-content: center;

	// Visual
	font-size: 1.5rem;
	background-color: $background;

	@if ($txtcolor == none) {
		color: #fff;
	} @else {
		color: $color;
	}

	border-radius: 15px;
	box-shadow: 0px 4px 10px 0px $color 25%;

	@if ($border == none) {
		border: none;
	} @else {
		border: 2px solid $border;
	}

	// Size
	&:not(.icon-button) {
		padding: 0.25em 0.75em;
		min-width: 256px;
		min-height: 56px;
	}

	// Text
	text-align: center;
	transition: 220ms all ease-in-out;

	&:hover,
	&:active {
		background-color: $background;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px scale-color($color, $lightness: -40%);
	}
}

.header {
}
//footer
.footer {
	@include dsp(flex, column);
	color: white;
	background: linear-gradient(180deg, #3f5446 0%, #5d7163 100%);
	mix-blend-mode: normal;
	border-top-left-radius: 10rem;
	padding: 72px 160px 24px 160px;
	width: 100vw;
	max-width: 100%;
}

.logo {
	@include dsp(flex, column);
	.logo__img {
		align-self: center;
		margin-bottom: 14.48px;
	}
}

.footer__container {
	@include dsp(flex, row);
	justify-content: space-between;
	border-bottom: 0.5px solid #c4d0cc;
	padding-bottom: 88px;
}

.footer__about {
	@include dsp(flex, column);
	@include default_line();
	width: 247px;
	height: 208px;
}

.footer__about--title {
	@include default_line();
	font-weight: 800;
	margin-bottom: 1rem;
}

.footer__list {
	@include dsp(flex, column);
	@include default_line();
	.footer__about--paragraph {
		margin-bottom: 1rem;
	}
}

.sociales {
	@include dsp(flex, row);
	@include default_line();
	justify-content: space-between;
	margin-top: 8px;
}

.author {
	@include default_line();
	margin-top: 24px;
	align-self: flex-end;
}
////////////////
.hero__page {
	@include dsp(flex, row);
	justify-content: space-between;
	align-content: space-between;
	color: $text-color;
}

.hero__page--text {
	@include dsp(flex, column);
	align-content: center;
	justify-content: center;
	margin: 261px 187px 82px 160px;
	height: 368px;
}

.hero__title {
	@include default_line(7.5rem, 9rem);
	font-weight: 800;
}

.p-paragraph {
	@include default_line(1.5rem);
	color: $text-color;
	margin: 24px 0 48px 0;
}

//button($color, $txtcolor: $color, $border: none, $background: $color)

.btn-donate {
	@include button($green, none, none, $green);
}

.btn-learnmore {
	@include button($yellow, $yellow, $yellow, none);
}

.button__icon {
	width: 0.9em;
	height: 0.9em;
}

.hero__page--img-container {
	img {
		height: 44rem;
		border-bottom-right-radius: 150px;
		background: linear-gradient(
			180.01deg,
			rgba(0, 0, 0, 0.5) -57.67%,
			rgba(0, 0, 0, 0) 99.99%
		);
	}
}

.hero__separator {
	@include dsp(flex, row);
	justify-content: space-around;
	align-content: space-around;
}

.hero__separator--box {
	@include dsp(flex, row);
	@include default_line(22px, 32px);
	color: $text-color;
	border-left: 2px solid $text-color;
	margin: 120px 80px 120px 80px;

	.separator--icon {
		padding-top: 10px;
		margin: 0 21px;
	}
}

.second__page {
	@include dsp(flex, row);
	justify-content: space-between;
	align-content: space-between;
}

.second__page--img {
	height: 100%;
	margin-right: 120px;
}
.second__page--text {
	@include dsp(flex, column);
	justify-content: center;
	align-content: center;
	margin-right: 120px;
	width: 590px;
}

.third__page {
	@include dsp(flex, row);
}

.third__page--img {
	height: 100%;
	margin-top: 51px;
}

.third__page--text {
	@include dsp(flex, column);
	margin: 200px 0 202px 10rem;
}

.subtitle {
	@include default_line(32px, 48px);
	color: $yellow;
}

.title {
	@include default_line(40px, 48px);
	font-weight: 800;
}
